/* TO-DO */
header {
  text-align: center;
  width: 100%;
}

.header-title {
  background-color: #273544;
  color: white;
  padding: 12px 0 20px 0;
  font-size: 25px;
}

.drop-down-menu-controls {
  background-color: #2B3E53;
  padding: 8px 0 20px 0;
}

header input,
header select {
  margin-top: 15px;
  padding: 12px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  box-sizing: border-box;
}

header select {
  height: 45px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.movie-card {
  padding-top: 10px;
  background-color: #fff;
  border-radius: 15px;
  flex: 0 1 220px;
  min-width: 180px;
  max-width: 250px;
  text-align: center;
}
.movie-card img {
  width: 80%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  margin: 10px auto 15px auto;
  display: block;
  border-radius: 8px;
}

.movie-card h3 {
  margin: 10px 0 5px 0;
  font-size: 25px;
}

.movie-card p {
  margin: 15px 10px 15px 10px;
  line-height: 2;
}

.blank-poster {
  width: 80%;
  aspect-ratio: 2 / 3;
  margin: 10px auto 15px auto;
  background-color: #e0e0e0;
  display: block;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

button {
  background-color: cornflowerblue;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: steelblue;
}